@charset 'UTF-8';
.ixedit-dialog {
  margin: 0 !important;
  padding: 0 !important;
  background: #333;
  border: none !important;
}

.ixedit-dialog * {
  color: #fff !important;
  font-size: 12px !important;
  font-family: 'Lucida Grande', Arial, sans-serif, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro' !important;
  border: none;
}

.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ixedit-overlay {
  background-color: black !important;
  opacity: 0.5 !important;
  filter: alpha(opacity=50); /* for IE */
}

#ixedit-import-db select.ixedit-listbox {
  padding: 10 !important;
}

#ixedit-import-db select.ixedit-listbox option.ixedit-odd {
  background-color: #666;
}

.ixedit-dialog .ixedit-instruction-content {
  padding: 0 15px !important;
  height: 100%;
  overflow-y: auto;
}

.ixedit-dialog .ixedit-instruction-content h3 {
  font-size: 12px !important;
  font-weight: bold !important;
  margin-top: 1.8em !important;
  margin-bottom: 1em !important;
}

.ixedit-dialog .ixedit-instruction-content textarea {
  resize: none;
}

#ixedit-about-ui .ixedit-instruction-content *{
  text-align: center !important;
}

.ixedit-dialog div {
  margin: 0;
  padding: 0;
}

.ixedit-dialog table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed !important;
  width: 100%;
}

.ixedit-dialog .ui-dialog-titlebar-close { 
  display: none !important;
 }

.ixedit-dialog .ui-resizable-handle { position: absolute !important; }


.ixedit-dialog .ui-dialog-titlebar {
  position: relative;
  padding: 5px 0;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid #464646;
  text-align: center;
  cursor: default;
}

.ixedit-dialog .ixedit-input {
  overflow: auto !important;
  overflow-x: hidden !important;
}

.ixedit-dialog .ui-dialog-buttonpane {
  width: 100% !important;
  text-align: center !important;
  border-top: 1px solid #666 !important;

  padding: 5px 0 !important;

}

#ixedit-button-render,.ixedit-dialog .ui-dialog-buttonpane button {
  float: none !important;
  margin: 0 3px !important;
  padding: 0 12px !important;
  background-color: transparent !important;
  border: 1px solid #ccc !important;
  cursor: default !important;
  color: #fff !important;
  text-shadow: none;
}

.ixedit-dialog .ui-dialog-buttonpane button.disabled {
  color: #666 !important;
  border-color: #666 !important;
}

.ixedit-dialog #ixedit-button-new {
  /*border-width: 2px !important;*/
  margin-right: 36px !important;
}

.ixedit-dialog #ixedit-button-edit {
  /*border-width: 2px !important;*/
  margin-left: 36px !important;
}

.ixedit-dialog #ixedit-button-doneandreload {
  /*border-width: 2px !important;*/
  margin-left: 120px !important;
}

.ixedit-dialog #ixedit-utility {
  position: relative;
  height: 24px !important; /* This line is for IE 7 */
  z-index: 1; /* This is for IE 7 */
}

.ixedit-dialog #ixedit-utility p, .ixedit-dialog #ixedit-utility p span {
  margin: 0;
  height: 24px !important; /* This line is for IE 7 */
  text-align: center;
  line-height: 24px;
}

#ixedit-routemenu {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 5px;
  background-color: #555;
  cursor: default;
  display: none;
}

#ixedit-routemenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: default;
}

#ixedit-routemenu li {
  padding: 3px 15px;
}

#ixedit-routemenu li.ixedit-selected {
  background-color: #3875d7 !important;
}

#ixedit-routemenu li#ixedit-showAbout {
  border-bottom: 1px solid #999;
}

.ixedit-dialog p.ixedit-undertextareaoption span * {
  vertical-align: middle;
}

/* Main Inputs*/
.ixedit-dialog table#ixedit-basictitle, 
.ixedit-dialog table#ixedit-actiontitle, 
.ixedit-dialog table#ixedit-conditiontitle,
.ixedit-dialog table#ixedit-commenttitle {
  width: 100%;
  border-bottom: 1px solid #222222;
  cursor: default;
}

.ixedit-dialog td.unchian-disclosurearea-basic,
.ixedit-dialog td.unchian-disclosurearea-action,
.ixedit-dialog td.unchian-disclosurearea-condition,
.ixedit-dialog td.unchian-disclosurearea-comment {
  width: 20px;
  text-align: right;
}

.ixedit-dialog button.disclosure_triangle {
  font-size: 1px;
  line-height: 1px;
  height: 9px;
  width: 9px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(images/disclosure_triangle.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.ixedit-dialog div.ixedit-hidden button.disclosure_triangle {
  background-position: left top;
}

.ixedit-dialog div tr.ixedit-pushed button.disclosure_triangle {
  background-position: right bottom;
}

.ixedit-dialog div.ixedit-hidden tr.ixedit-pushed button.disclosure_triangle {
  background-position: right top;
}

.ixedit-dialog td.ixedit-titlearea-element, 
.ixedit-dialog td.ixedit-titlearea-basic, 
.ixedit-dialog td.ixedit-titlearea-action, 
.ixedit-dialog td.ixedit-titlearea-condition,
.ixedit-dialog td.ixedit-titlearea-comment {
  padding: 2px 10px 2px 5px;
}

.ixedit-dialog tr.ixedit-pushed td.ixedit-titlearea-action,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlearea-condition,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlearea-comment,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlestatusarea-basic,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlestatusarea-action,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlestatusarea-condition,
.ixedit-dialog tr.ixedit-pushed td.ixedit-titlestatusarea-comment {
  color: #999 !important;
}

.ixedit-dialog td.ixedit-titlestatusarea-basic,
.ixedit-dialog td.ixedit-titlestatusarea-action,
.ixedit-dialog td.ixedit-titlestatusarea-condition,
.ixedit-dialog td.ixedit-titlestatusarea-comment {
  padding: 2px 20px 2px 5px;
  width: 40%;
  text-align: right;
  overflow: hidden;
}

.ixedit-dialog div#ixedit-basicitems, 
.ixedit-dialog div#ixedit-actionitems, 
.ixedit-dialog div#ixedit-conditionitems,
.ixedit-dialog div#ixedit-commentitems {
  width: 100% !important;
}

.ixedit-dialog #ixedit-comment {
  margin: 12px 0;
}

.ixedit-dialog td.ixedit-elementdetails, 
.ixedit-dialog td.ixedit-basicdetails, 
.ixedit-dialog td.ixedit-actiondetails, 
.ixedit-dialog td.ixedit-conditiondetails {
  padding: 10px 5px 12px 10px;
}

.ixedit-dialog td.ixedit-elementdetails table, 
.ixedit-dialog td.ixedit-basicdetails table, 
.ixedit-dialog td.ixedit-actiondetails table, 
.ixedit-dialog td.ixedit-conditiondetails table,
.ixedit-dialog td.ixedit-commentdetails table {
  width: 100% !important;
}

.ixedit-dialog td.ixedit-elementdetails table td, 
.ixedit-dialog td.ixedit-basicdetails table td, 
.ixedit-dialog td.ixedit-actiondetails table td, 
.ixedit-dialog td.ixedit-conditiondetails table td,
.ixedit-dialog td.ixedit-commentdetails table td {
  padding: 3px 6px 3px 2px !important;
}

.ixedit-dialog input[type="text"],
.ixedit-dialog select,
.ixedit-dialog textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
}

.ixedit-dialog input[type="text"] {
  height: 16px !important;
}

.ixedit-dialog input[type="text"],
.ixedit-dialog textarea {
  background-color: #666 !important;
}

.ixedit-dialog select {
  background-color: #555 !important;
  height: 22px;
}

/*
.ixedit-dialog-aboutbox input[type="text"],
.ixedit-dialog-aboutbox textarea {
  background-color: #663333;
}
.ixedit-dialog-aboutbox select {
  background-color: #330000 !important;
}
.ixedit-dialog-aboutbox .ui-dialog-titlebar,
.ixedit-dialog-aboutbox .ui-dialog-content,
.ixedit-dialog-aboutbox .ui-dialog-buttonpane {
  background-color: red !important;
}
*/

.ixedit-dialog td.ixedit-labelarea-default {
  width: 80px !important;
  text-align: right !important;
}

.ixedit-dialog td.ixedit-labelarea-small {
  width: 50px;
  text-align: right;
}

.ixedit-dialog td.ixedit-labelarea-xsmall {
  width: 30px;
  text-align: right;
}

.ixedit-dialog td.ixedit-labelarea-medium {
  width: 70px;
  text-align: right;
}

.ixedit-dialog td.ixedit-labelarea-large {
  width: 100px;
  text-align: right;
}

.ixedit-dialog td.ixedit-labelarea-xlarge {
  width: 130px;
  text-align: right;
}

.ixedit-dialog td.ixedit-labelarea-xxlarge {
  width: 160px;
  text-align: right;
}

.ixedit-dialog td.ixedit-inputarea-xxlarge {
  width: 350px;
}

.ixedit-dialog td.ixedit-inputarea-xxlarge {
  width: 250px;
}

.ixedit-dialog td.ixedit-inputarea-xlarge {
  width: 200px;
}

.ixedit-dialog td.ixedit-inputarea-large {
  width: 140px;
}

.ixedit-dialog td.ixedit-inputarea-medium {
  width: 120px;
}

.ixedit-dialog td.ixedit-labelarea-mediumsmall {
  width: 80px;
}

.ixedit-dialog td.ixedit-inputarea-small {
  width: 70px;
}

.ixedit-dialog td.ixedit-inputarea-xsmall {
  width: 60px;
}

.ixedit-dialog td.ixedit-inputarea-xxsmall {
  width: 20px;
}


.ixedit-dialog table td.ixedit-labelarea-checkbox {
  text-align: left !important;
}

.ixedit-dialog td.ixedit-inputarea-checkbox {
  padding-right: 3px !important;
  width: 18px;
}






.ixedit-dialog td.ixedit-tinybtnarea {
  width: 80px !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.ixedit-dialog td.ixedit-basicdetails, 
.ixedit-dialog td.ixedit-actiondetails, 
.ixedit-dialog td.ixedit-conditiondetails,
.ixedit-dialog td.ixedit-tinybtnarea {
  border-bottom: 1px solid #444 !important;
}


.ixedit-dialog .ixedit-blankcond-prompt, 
.ixedit-dialog .ixedit-unknowncommand-prompt {
  margin: 0 auto !important;
  width: 430px; /* Fixed for Safari. table-layout: fixed does bad */
  text-align: center !important;
  color: #999 !important;
}


.ixedit-dialog td.ixedit-inputarea-xray {
  width: 35px !important;
}

.ixedit-dialog td.ixedit-tinybtnarea button, 
.ixedit-dialog button.ixedit-subparam-addbutton, 
.ixedit-dialog button.subparam-removebutton,
.ixedit-dialog button.ixedit-commandhelp,
.ixedit-dialog button.ixedit-xraybtn,
button.ixedit-xraycancel,
#ixedit-routebtn {
  text-indent: -999px; 
  background: transparent;
  border: 1px solid #fff !important;
  font-size: 1px;
  line-height: 1px;
}

.ixedit-dialog button.ixedit-commandhelp,
.ixedit-dialog button.ixedit-addaction,
.ixedit-dialog button.ixedit-addcondition,
.ixedit-dialog button.ixedit-removeaction, 
.ixedit-dialog button.ixedit-removecondition,
.ixedit-dialog button.ixedit-subparam-addbutton,
.ixedit-dialog button.subparam-removebutton {
  width: 16px !important;
  height: 16px !important;
}

.ixedit-dialog button.ixedit-addaction, 
.ixedit-dialog button.ixedit-addcondition {
  background-image: url(images/tiny-plus.png) !important;
  background-position: -1px center !important;
}


.ixedit-dialog button.ixedit-addaction-h,
.ixedit-dialog button.ixedit-addcondition-h {
  background-position: -17px center !important;
}


.ixedit-dialog button.ixedit-removeaction, 
.ixedit-dialog button.ixedit-removecondition {
  background-image: url(images/tiny-minus.png) !important;
  background-position: -1px center !important;
}


.ixedit-dialog button.ixedit-removeaction-h,
.ixedit-dialog button.ixedit-removecondition-h {
  background-position: -17px center !important;
}


.ixedit-dialog button.ixedit-subparam-addbutton {

  background-image: url(images/tiny-plus-sub.png) !important;
  background-position: left center !important;
  border: none !important;
}

.ixedit-dialog button.ixedit-subparam-addbutton-h {
  background-position: right center !important;
}

.ixedit-dialog button.subparam-removebutton {

  background-image: url(images/tiny-minus-sub.png) !important;
  border: none !important;
}

.ixedit-dialog button.ixedit-subparam-removebutton-h {
  background-position: right !important;
}


.ixedit-dialog button.ixedit-commandhelp {

  background-image: url(images/tiny-help.png) !important;
  background-position: -1px center !important;
}


.ixedit-dialog button.ixedit-commandhelp-h {
  background-position: -17px center !important;
}

.ixedit-dialog button.ixedit-xraybtn {
  width: 28px !important; 
  height: 16px !important; 
  background-image: url(images/tiny-xray.png) !important;
  background-position: -1px center !important;
}

.ixedit-dialog button.ixedit-xraybtn-pushed{
  background-position: -29px center !important;
}



button.ixedit-xraycancel {
  width: 16px !important; 
  height: 16px !important; 
  background-image: url(images/tiny-x.png) !important;
  background-position: -1px center !important;
  margin: 0 8px !important;
  vertical-align: middle;
}

button.ixedit-xraycancel-pushed {
  background-position: -17px center !important;
}


.ixedit-dialog #ixedit-routebtn {
  width: 28px !important;
  height: 16px !important;
  background-image: url(images/tiny-route.png) !important;
  background-position: -1px center !important;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  margin-left: 6px;
}

.ixedit-dialog #ixedit-utility button.ixedit-pushed {
  background-position: -29px center !important;
}

/* For IE 7 to adjust background position */
.ixedit-msie-old button.ixedit-addaction, 
.ixedit-msie-old button.ixedit-addcondition,
.ixedit-msie-old button.ixedit-removeaction, 
.ixedit-msie-old button.ixedit-removecondition,
.ixedit-msie-old button.ixedit-commandhelp,
.ixedit-msie-old button.ixedit-xraybtn,
.ixedit-msie-old button.ixedit-xraycancel,
.ixedit-msie-old #ixedit-routebtn {
  background-position: -2px center !important;
}

/* For IE 7 to adjust background position */
.ixedit-msie-old button.ixedit-addaction-h,
.ixedit-msie-old button.ixedit-addcondition-h,
.ixedit-msie-old button.ixedit-removeaction-h,
.ixedit-msie-old button.ixedit-removecondition-h,
.ixedit-msie-old button.ixedit-commandhelp-h,
.ixedit-msie-old button.ixedit-xraycancel-pushed {
  background-position: -18px center !important;
}

.ixedit-msie-old button.ixedit-xraybtn-pushed,
.ixedit-msie-old #ixedit-utility button.ixedit-pushed {
  background-position: -30px center !important;

}

.ixedit-dialog div#ixedit-listheader {
  background: #999;
}

.ixedit-dialog div#ixedit-listbody {
  overflow: auto !important;
  overflow-x: hidden !important;
  position: relative;
}


.ixedit-dialog table.ixedit-table {

  /*width: 100%;*/

  font-size: 12px !important;
  cursor: default !important;
  position: relative;
  empty-cells: show;
  border-right: 1px solid #333333 !important;
}

.ixedit-dialog table.ixedit-table-header {
  border-right: 1px solid #666666 !important;
}

.ixedit-dialog table.ixedit-table-body {
  border-bottom: 1px solid #3f3f3f !important;
}

.ixedit-dialog table.ixedit-table th, .ixedit-dialog table.ixedit-table td {
  overflow: hidden !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  user-select: none !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  text-align: left !important;
  font-weight: normal !important;
  line-height: 15px !important;
  border-right: 1px solid #666666 !important;
}

.ixedit-dialog table.ixedit-table th {
  padding: 0 5px !important;
  height: 18px !important;
  line-height: 18px !important;
  font-size: 10px !important;
}
.ixedit-dialog table.ixedit-table th.selected {
  background-color: #bbb;
}

.ixedit-dialog table.ixedit-table td {
  padding: 2px 5px !important;
}

.ixedit-dialog .ixedit-table td.ixedit-column-check {
  text-align: center !important;
}

.ixedit-dialog .ixedit-table .ixedit-column-comment {
  border-right: none !important;
}


.ixedit-dialog table.ixedit-table-body tr.selected {
  background-color: #3875d7 !important;
}

.ixedit-dialog table.ixedit-table-body tr.ui-selected td {
  background-color: red !important;
}

.ixedit-dialog table.ixedit-table-body tr.ixedit-odd {
  background-color: #444;
}

.ixedit-dialog-shaded {
  width: 100px !important;
  height: 30px !important;
}


/* X-Ray */

  #ixedit-xrayedbox {
    margin: 0 !important;
    padding: 0 !important;
    position: absolute !important;
    background-color: transparent !important;
    z-index: 9990 !important;
    border: 1px solid pink !important;
    background-image: url(images/bg-red-50.png)
  }
  #ixedit-xrayselectorbox {
    width: 169px !important;
    position: absolute !important;
    z-index: 9991 !important;
    background-color: transparent;
    /*border: 1px solid black;*/
  }
  #ixedit-selectorcontent {
    width: 153px;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    /*border: 1px solid #fff !important;*/
    margin-left: 16px !important;
    /* background-color: #ffffcc; */
    background-image:url(images/bg-dark-80.png);
    padding: 5px 0;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Lucida Grande', Arial, sans-serif, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro' !important;
  }
  .ixedit-xrayselectorbox-right #ixedit-selectorcontent {
    margin-left: 0px !important;
  }


  #ixedit-selectormenu li {
    color: #fff !important;
  }


  #ixedit-selectorarrow {
    width: 16px;
    height: 20px;
    position: absolute;
    top: 4px;
    background-image:url(images/selectorarrow-y.png);
    background-position: left;
    margin: 0;
    padding: 0;
    left: 0 !important;
  }
  .ixedit-xrayselectorbox-right #ixedit-selectorarrow {
    left: 153px !important;
    background-position: right !important;
  }
  #ixedit-selectormenu {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none
  }
  #ixedit-selectormenu .ixedit-selectormenuitem {
    margin: 0 !important;
    padding: 0 10px !important;
    overflow: hidden;
  }
  #ixedit-selectormenu .ixedit-selectormenuitem.selected {
    /*background-color: #ffcc00;*/
    background-color: #777;
    color: #fff !important;
    cursor: default !important;
  }
  #ixedit-xrayguidebox {
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    background-image: url(images/bg-dark-80.png) !important;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 50px;
    z-index: 9000;
    font-family: 'Lucida Grande', Arial, sans-serif, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro' !important;

  }


#ixedit-xrayguidebox p {
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 12px;
}


#ixedit-wrapper {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: none !important;
  z-index: -1 !important;
}

.ixedit-dialog-deploy, .ixedit-dialog-export, .ixedit-dialog-import, .ixedit-dialog-about, .ixedit-dialog-commandhelp {
  z-index: 1;
}
.ui-dialog {
  position:absolute;
}